link(rel="stylesheet", href="/example/style.css")

h1.title #{title}
h2.title= message

.container
    a(href="/about")
        code
            span(style="float: left;") /about
            span(style="float: right;") The example about page
            br
    a(href="/contact")
        code
            span(style="float: left;") /contact
            span(style="float: right;") The example contact page
            br
    a(href="/api/employees")
        code
            span(style="float: left;") /api/employees
            span(style="float: right;") The full mock employee API
            br
    a(href="/api/employees?id=0")
        code
            span(style="float: left;") /api/employees?id=0
            span(style="float: right;") First employee in the object
            br
    a(href="/api/employees?id=1")
        code
            span(style="float: left;") /api/employees?id=1
            span(style="float: right;") Second employee in the object
            br
    a(href="/api/employees?id=2")
        code
            span(style="float: left;") /api/employees?id=2
            span(style="float: right;") User doesn't exist, returns error.