<link rel="stylesheet" , href="/example/style.css" />

<div class="wrapper">
	<div class="container">
		<h1 class="title"><%= title %></h1>
		<h2 class="title"><%= message %></h2>
		<a href="/about"
			><code
				><span style="float: left">/about</span
				><span style="float: right">The example about page</span
				><br /></code></a
		><a href="/contact"
			><code
				><span style="float: left">/contact</span
				><span style="float: right">The example contact page</span
				><br /></code></a
		><a href="/api/employees"
			><code
				><span style="float: left">/api/employees</span
				><span style="float: right">The full mock employee API</span
				><br /></code></a
		><a href="/api/employees?id=0"
			><code
				><span style="float: left">/api/employees?id=0</span
				><span style="float: right">First employee in the object</span
				><br /></code></a
		><a href="/api/employees?id=1"
			><code
				><span style="float: left">/api/employees?id=1</span
				><span style="float: right">Second employee in the object</span
				><br /></code></a
		><a href="/api/employees?id=2"
			><code
				><span style="float: left">/api/employees?id=2</span
				><span style="float: right"
					>User doesn't exist, returns error.</span
				></code
			></a
		>
	</div>
</div>
